<h1>Actor Search</h1>
<h3>Enter an actor's name and hit 'Return' to search!</h3>

<%= form_tag movies_path, method: :get, class: "navbar-form navbar-left search-form" do %>
  <%= text_field_tag(
      :search,
      params[:search],
      placeholder: "Search",
      class: "form-control"
  ) %>
<% end %>

<% if @movies %>
  <%= @movies %>
<% end %>
