<form>
  <div class="form-group">
    <label for="search">Search By Actor</label>
    <input type="actor" class="form-control" id="actor" placeholder="Actor">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
